@import "tailwindcss";

@theme {
  --font-display: 'DM Sans', sans-serif;
  --color-primary: #3AFFA3;
  --color-gray-900: #0C0C0C;
  --color-gray-800: #161616;
  --color-gray-700: #1A1A1A;
  --color-gray-600: #474747;
  --color-gray-500: #9AA4B2;
  --color-gray-200: #E7E8E7;
  --color-gray-100: #FFFFFF;
  --color-beige-900: #272420;
  --color-beige-100: #E5E1D2;
  --color-error-900: #ED4646;
  --color-error-800: #E25A57;
  --color-background: #080808;
}

html,
body {
  @apply bg-white dark:bg-[#080808];

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.header-border {
  border-width: 1px;
  border-image: linear-gradient(
          to bottom,
          red,
          rgba(0, 0, 0, 0)
  ) 100%;
}

.invite-bg {
  background: linear-gradient(0deg, #0F1113, #0F1113),
  linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(11, 152, 56, 0.08) 100%);
}