@import "tailwindcss";

@theme {
  --font-display: 'DM Sans', sans-serif;
  --color-primary-900: #11251B;
  --color-primary-800: #1E3E33;
  --color-primary-700: #329064;
  --color-primary-600: #09C66E;
  --color-primary: #3AFFA3;
  --color-violet-transparent: #F24BE70D;
  --color-violet: #9D85FF;
  --color-bronze-transparent: #F89F3F1C;
  --color-bronze: #F89F3F;
  --color-silver-transparent: #9797974D;
  --color-silver: #979797;
  --color-gold-transparent: #FCD10D1C;
  --color-gold: #FCD10D;
  --color-gray-900: #0C0C0C;
  --color-gray-800: #161616;
  --color-gray-700: #1A1A1A;
  --color-gray-600: #474747;
  --color-gray-500: #9AA4B2;
  --color-gray-300: #CDD5DF;
  --color-gray-200: #E7E8E7;
  --color-gray-100: #FFFFFF;
  --color-white-transparent: #FFFFFF0D;
  --color-beige-900: #272420;
  --color-beige-600: #909090;
  --color-beige-100: #E5E1D2;
  --color-error-900: #ED4646;
  --color-error-800: #E25A57;
  --color-background: #080808;
}

body {
  background: #080808;
  color: white;
}

@layer base {
  *,
  ::after,
  ::before {
    @apply m-0 p-0 box-border;
  }

  html, body {
    @apply
      bg-white dark:bg-background font-display
      text-body-l;
  }

  h1 {
    @apply text-h1;
  }
  h2 {
    @apply text-h2;
  }
  h3 {
    @apply text-h3;
  }
  h4 {
    @apply text-h4;
  }
  h5 {
    @apply text-h5;
  }


  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }

}

@utility text-h1 {
  @apply
    text-[32px] leading-[1.1] tracking-[-1px]
    lg:text-[38px] lg:leading-[1.1] lg:tracking-[-1.1px];
}
@utility text-h2 {
  @apply
    text-[24px] leading-[1.2] tracking-[-0.7px]
    lg:text-[32px] lg:leading-[1.1] lg:tracking-[-1px];
}
@utility text-h3 {
  @apply
    text-[20px] leading-[1.2] tracking-[-0.5px]
    lg:text-[24px] lg:leading-[1.2] lg:tracking-[-0.7px];
}
@utility text-h4 {
  @apply
    text-[18px] leading-[1.3] tracking-[-0.4px]
    lg:text-[20px] lg:leading-[1.2] lg:tracking-[-0.5px];
}
@utility text-h5 {
  @apply text-[18px] leading-[1.3] tracking-[-0.4px];
}


@utility text-body-l {
  @apply text-[16px] leading-[1.5] tracking-[-0.3px]
}

@utility text-body-m {
  @apply text-[14px] leading-[1.4] tracking-[-0.3px]
}

@utility text-body-s {
  @apply text-[12px] leading-[1.6] tracking-[-0.1px]
}


@utility shared-styles-box {
  position: relative;
  padding: 34px;
  border-radius: 14px;
}

@utility shared-styles-box-border {
  position: absolute;
  inset: 0;
  border-radius: 14px; 
  padding: 1px; 
  mask: 
    linear-gradient(var(--color-gray-900) 0 0) content-box, 
    linear-gradient(var(--color-gray-900) 0 0);
  mask-composite: exclude; 
}


@utility green-box {
  @apply shared-styles-box;
  background:
    radial-gradient(88.75% 88.75% at 50% 11.25%, var(--color-primary-800) 0%, var(--color-gray-900) 100%), 
    linear-gradient(0deg, var(--color-gray-900), var(--color-gray-900));
}
@utility green-box-border {
  @apply shared-styles-box-border;
  background: linear-gradient(180deg, var(--color-gray-900) 50%, var(--color-primary) 158.98%);
}
@utility green-box-border-top {
  @apply shared-styles-box-border;
  background: linear-gradient(180deg, var(--color-primary) -25.55%, var(--color-gray-900) 44.09%);
}


@utility violet-box {
  @apply shared-styles-box;
  background:
    radial-gradient(88.75% 88.75% at 50% 11.25%, var(--color-violet-transparent) 0%, var(--color-gray-900) 100%),
    linear-gradient(0deg, var(--color-gray-900), var(--color-gray-900));
}
@utility violet-box-border {
  @apply shared-styles-box-border;
  background: linear-gradient(182deg, transparent 26.3%, var(--color-violet) 96.9%);
}
@utility violet-box-border-top {
  @apply shared-styles-box-border;
  background: linear-gradient(227.66deg, transparent 26.3%, var(--color-violet) 96.9%);
}


@utility bronze-box {
  @apply shared-styles-box;
  background:
    radial-gradient(88.75% 88.75% at 50% 11.25%, var(--color-bronze-transparent) 0%, var(--color-gray-900) 100%),
    linear-gradient(0deg, var(--color-gray-900), var(--color-gray-900));
}
@utility bronze-box-border {
  @apply shared-styles-box-border;
  background: linear-gradient(180deg, var(--color-gray-700) 50%, var(--color-bronze) 158.98%);
}
@utility bronze-box-border-top {
  @apply shared-styles-box-border;
  background: linear-gradient(180deg, var(--color-bronze) -25.55%, var(--color-gray-700) 44.09%);
}


@utility silver-box {
  @apply shared-styles-box;
  background:
    radial-gradient(88.75% 88.75% at 50% 11.25%, var(--color-silver-transparent) 0%, var(--color-gray-900) 100%),
    linear-gradient(0deg, var(--color-gray-900), var(--color-gray-900));
}
@utility silver-box-border {
  @apply shared-styles-box-border;
  background: linear-gradient(180deg, var(--color-gray-700) 50%, var(--color-silver) 158.98%);
}
@utility silver-box-border-top {
  @apply shared-styles-box-border;
  background: linear-gradient(180deg, var(--color-silver) -25.55%, var(--color-gray-700) 44.09%);
}


@utility gold-box {
  @apply shared-styles-box;
  background:
    radial-gradient(88.75% 88.75% at 50% 11.25%, var(--color-gold-transparent) 0%, var(--color-gray-900) 100%),
    linear-gradient(0deg, var(--color-gray-900), var(--color-gray-900));
}
@utility gold-box-border {
  @apply shared-styles-box-border;
  background: linear-gradient(180deg, var(--color-gray-700) 50%, var(--color-gold) 158.98%);
}
@utility gold-box-border-top {
  @apply shared-styles-box-border;
  background: linear-gradient(180deg, var(--color-gold) -25.55%, var(--color-gray-700) 44.09%);
}


@utility dark-box-border {
  @apply shared-styles-box-border;
  background: linear-gradient(227.66deg, var(--color-gray-900) 26.3%, var(--color-white-transparent) 96.9%); 
}


.header-border {
  border-width: 1px;
  border-image: linear-gradient(
          to bottom,
          red,
          rgba(0, 0, 0, 0)
  ) 100%;
}

.invite-bg {
  background: linear-gradient(0deg, #0F1113, #0F1113),
  linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(11, 152, 56, 0.08) 100%);
}

.slick-dots li button:before {
  width: 12px!important;
  height: 12px!important;
  background: #D9D9D9;
  opacity: 20;
  content: ''!important;
  margin-top: 20px!important;
  border-radius: 50%;
}

.slick-dots li.slick-active button:before {
  background: #25925E;
}

.presale-link-bg {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(153, 153, 153, 0.12) 100%);
}

.inner-shadow-presale {
  box-shadow: 1px 1px 100px 3px rgba(0,0,0,0.95) inset;
}

.token-description h3 {
  font-weight: bold;
  font-size: 24px;
  display: block;
  margin-bottom: 24px;
}

.token-description p {
  opacity: 60%;
  font-weight: 500;
  display: block;
  margin-bottom: 12px;
}

.white-shadow {
  box-shadow: 0px 1px 36px 0px #FFFFFF57;
}

.static-page {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding-bottom: 94px;
}

.static-page p, .static-page li {
  font-size: 20px;
  opacity: 80%;
  font-weight: 400;
  line-height: 150%;
}

.static-page h1 {
  font-size: 64px;
  font-weight: 700;
}

.static-page li {
  list-style: disc;
  padding-left: 10px;
  margin-left: 30px;
}

.static-page h3 {
  font-size: 20px;
  opacity: 80;
  display: block;
  font-weight: 700;
}